html {
    background-color: #282c34;
}

#root {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 80vh;
}

.menuImporterContainer {
    text-align: center;
    color: white;
    font-size: larger;
}

input[type=file] {
    display: none;
}

button:focus {
    outline-width: 0px;
}
