<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Café Francis</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/mdp.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" type="image/ico" href="/images/favicon.ico" />
  </head>
  <body>
    <div id="root">
      <div class="securityContainer">
        <h1>Mot de passe</h1>
        <form action="/password" method="post" enctype="multipart/form-data">
          <input type="password" placeholder=" Entrez le mot de passe ici" id="password" name="password">
          <input id="submitButton" type="submit" value="Valider">
        </form>
      </div>
    </div>
  </body>
</html>
