<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Café Francis</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/menu.css"/>
    <link rel="icon" type="image/ico" href="/images/favicon.ico" />
  </head>
  <body>
    <div id="root">
        <div class="menuContainer">
            <img class="menu" src="/images/suggestion.jpg" alt="Menu Café Francis" id="menu"/>
        </div>
    </div>
  </body>
</html>
