html {
    background-color: #A99078;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menuContainer {
    text-align: center;
    color: white;
    font-size: larger;
}
